{% load static from staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>Biblioteca Aberta - Livros em domínio público, livres para ler e compartilhar.</title>
				<!--Import Google Icon Font-->
				<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<!--Import materialize.css-->
				<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
				<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
				<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head>

		<body>
				<nav class="white" role="navigation">
						<div class="nav-wrapper container">
								<a id="logo-container" href="#" class="brand-logo">Biblioteca Aberta</a>
<!--								<ul class="right hide-on-med-and-down">
										<li><a href="#">Top</a></li>
										<li><a href="#">Recent</a></li>
										<li><a href="#">Contato</a></li>
								</ul>

								<ul id="nav-mobile" class="side-nav">
										<li><a href="#">Top</a></li>
										<li><a href="#">Recent</a></li>
										<li><a href="#">Contato</a></li>
								</ul>
								<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
-->
						</div>
				</nav>
                <div id="loading">
                        <p><img src="{% static 'loading.gif' %}" /> Please Wait</p>
                </div>

                <div id="content">
                        <!-- React stuff -->
                </div>

				<script src="{% static 'js/vendor/react.min.js' %}"></script>
				<script src="{% static 'js/vendor/react-dom.min.js' %}"></script>
                <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
				<script type="text/babel" src="{% static 'js/init.js' %}"></script>
		</body>
</html>
