{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>LivrosLivres</title>
        </head>

        <body>

                <script src="{% static 'js/vendor/jquery-3.1.0.min.js' %}"></script>
                <script src="{% static 'js/vendor/underscore-min.js' %}"></script>
                <script src="{% static 'js/vendor/backbone-min.js' %}"></script>

                <script src="{% static 'js/models.js' %}"></script>
                <script src="{% static 'js/views.js' %}"></script>
                <script src="{% static 'js/router.js' %}"></script>
        </body>
</html>
